.cards {
    margin: 0;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 85px;
        display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}


@media screen and (max-width: 1191px) {
.cards {
    padding-top: 60px;
}
}


@media screen and (max-width: 678px) {
    .cards {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    }
